.tile {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.claimedBy {

    color: #0f5132;
}

.investedPoints {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.investedPoints .x-points {
    position: absolute;

    background-color: #ffc107;
    color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.investedPoints .o-points {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}